* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: sticky;
    top: 0;
    background: burlywood;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo{
    font-size: 26px;
    font-weight: bold;
    color: aliceblue;
}

.header nav a{                     
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.header nav a:hover{
    text-decoration: underline;
}

.hero{
    margin-top:20px;
    text-align: center;
    padding: 120px 20px;
    background-image: url("https://images.unsplash.com/photo-1453614512568-c4024d13c247?q=80&w=1032&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    color: rgb(136, 73, 2);
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.hero p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero button {
    padding: 12px 25px;
    font-size: 18px;
    background: #ff7d27a9;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.hero button:hover {
    background: #0059ff;
}

.card-section{
    margin-left: 150px; 
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card {
    position: relative;    
    background: white;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    padding-bottom: 20px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
}

.card h3 {
    margin: 10px 0;
}

.card-section p{
    font-weight: bold;
    font-size: 30px;
}

.Badge {
    position: absolute;
    top: 12px;
    left: 12px;
    background: red;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;
}

.card button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #ffb327c2;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.card button:hover {
    background: #00a2ff;
}

.about {
    padding: 40px;
    text-align: center;
    font-size: 20px;
}

.footer {
    text-align: center;
    padding: 20px;
    background: #ffdea8;
    font-size: 16px;
    font-weight: bold;
    color: #6b3e00;
}
