*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s ease;
}

body{
    background-color: #221f1f;
    color: #fff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(0,0,0,0.7)0%, rgba(0,0,0,0) 100%);
}

.logo{
    color: crimson;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    color: #fffbfb;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
    cursor: pointer;
}

nav ul li a:hover{
color: #b3b3b3;
}

.nav-right  {
    display: flex;
    align-items: center;
}

.search-box {
    position: relative;
    margin-right: 20px;
}

.search-box input {
    background-color: rgba(0,0,0,0.4);
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #fff;
    padding: 7px 14px 7px 35px;
    font-size: 14px;
    width: 220px;
    transition: width 0.3s, background-color 0.3s;
}

.search-box i {
    position: absolute;
    left: 10px;
    top: 8px;
    color: #aaa;
}

.profile {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    background-color: #e50914;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hero {
    height: 80vh;
    background: linear-gradient( to top, #141414, transparent 50%), linear-gradient(to right, rgba(0,0,0,0.7) 0%, transparent 50%),url(https://m.media-amazon.com/images/M/MV5BOTYwYzYxMWYtZmI4MS00ZGRhLWEyMGEtZTdiODc3YjAyNDE0XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    padding: 0 60px;
    margin-bottom: 20px;
}

.hero-content{
    max-width: 40%;
}

.hero-badge {
    background-color: rgba(109,109,110,0.7);
    color: #fff;
    padding: 4px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 16px;
}

.hero-title {
    font-size: 48px;
    margin-bottom: 16px;
}

.hero-description{
    font-size: 16px;
    line-height: 1.5;
    color: antiquewhite;
    margin-bottom: 16px;
}

.hero-buttons {
    display: flex;
    gap: 12px;
}

.btn {
    padding: 10px 24px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-transform: lowercase;
    cursor: pointer;
    transition: opacity 0.8;
}

.btn:hover{
    opacity: 0.8;
}

.btn-play {
    background-color: white;
    color: black;

}

.btn-info{
    background-color: rgba(109,109,110,0.7);
    color: #fff;
}

.btn i {
    margin-right: 8px;
}

.content{
    padding: 0 50px 40px;
}

.row{
    margin-bottom: 30px;
}

.row-title {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.movies {
    display: flex;
    overflow-x: 15px ;
    gap: 10px;
    padding: 10px 0;
    scrollbar-width: none;
}

.movie {
    min-height: 220px;
    height: 130px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
    cursor: pointer;
}

.movie:hover{
    transform: scale(1.1);
    z-index: 10;
}

.movie img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.movie-info{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient( to top, rgba(0,0,0,0.9), transparent);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.movie:hover .movie-info {
    opacity: 1;
}

.movie-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
}

.movie-desc {
    font-size: 12px;
    color: #d2d2d2;
}

footer{
    padding: 40px 50px;
    color: #757575;
}

.social-icon{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    font-size: 24px;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    margin-top: 20px;
}

.footer-links a {
    color: #757575;
    text-decoration: none;
    font-size: 14px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.copyright {
    font-size: 14px;
}

@media (Max-width: 768px) {
    header {
        padding: 20px;
    }

    nav ul li {
        margin: 0 10px;
    }

    .search-box input {
        width: 150px;
    }

    .hero {
        height: 70vh;
        padding: 0 30px;
    }

    .hero-content {
        max-width: 80%;
    }

    .hero-title{
        font-size: 32px;
    }

    .content {
        padding: 0 30px 30px;
    }
}

