.loader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    gap: 5px;
}

.load{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: cadetblue;
    animation:move 1s ease-in-out infinite;
}

.load:nth-child(1){
    animation-delay: 0.1s;
    background-color: rgb(231, 74, 12);
}

.load:nth-child(2){
    animation-delay: 0.2s;
    background-color: rgb(234, 235, 236);
}

.load:nth-child(3){
    animation-delay: 0.4s;
    background-color: green;
}

@keyframes move{
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-30px);
        opacity: 0.5;
    }

    100%{
        transform: translateY(0px);
    }
}