#dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 120px;
    gap: 10px;
}

.box {
    background: coral;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navbar */
.box:nth-child(1){
    grid-column: span 4;
}

/* Sidebar */
.box:nth-child(2){
    grid-row: span 3;
}

/* Top 3 Boxes */
.box:nth-child(3){ grid-column: span 1; }
.box:nth-child(4){ grid-column: span 1; }
.box:nth-child(5){ grid-column: span 1; }

/* Bottom row - 2 Boxes */
.box:nth-child(6){ grid-column: span 2; }
.box:nth-child(7){ grid-column: span 2; }

/* Footer */
.box:nth-child(8){
    grid-column: span 4;
}
