#one{
    display: flex;
    height: 500px;
    width: 500px;
    text-align: center;
    flex-wrap: wrap;
    background-color: rgb(247, 80, 3);
    gap: 10px;
    justify-content: center;
}

.item{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
}