
            body {
            font-family: Arial;
            background-color: silver;
        }

        form {
            width: 50%; 
            margin: 30px auto;
            padding: 50px;
            background-color: yellowgreen;
            border-radius: 10px;
        }

        h2 {
            text-align: center;
        }

        label {
            font-weight: bold;
        }

        input, select, textarea{
            width: 100%;
            margin-top: 5px; 
            padding: 8px;
        }

        .Main-footer {
            text-align: center;
            background-color: palegreen;
            padding: 10px;
            font-size: 14px;
            margin-top: 20px;
        }

        .media-box {
            text-align: center;
            margin-top: 10px;
        }
        .header {
                padding: 50px 50px;
                box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            }

        .logo-section {
                display: flex;
                align-items: center;
            }

        .logo-img {
                height: 100px;
                width: 100px;
                border-radius: 50%; /* circular logo */
                object-fit: cover;  /* image zoom/stretch nahi hoga */
                margin-right: 20px; /* gap between logo & name */
                border: 2px solid beige; /* optional border */
                align-items: center;
            }

            .brand-name {
                font-size: 30px;
                font-weight: bold;
                color: blanchedalmond;
                text-align: center;
            }