* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f5f7fa;
}

.header {
    background: #0d47a1;  /* Dark Blue */
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.nav-links a {
    margin-left: 25px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
}

.hero {
    background-image: url("https://images.unsplash.com/photo-1529070538774-1843cb3265df?w=1600");
    background-size: cover;
    background-position: center;
    height: 260px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero h1 {
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0 3px 6px #000;
}

.hero p {
    margin-top: 10px;
    font-size: 18px;
    text-shadow: 0 2px 4px #000;
}

.search-box {
    width: 70%;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.2);
    border-left: 5px solid #ff9800; 
}

.search-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0d47a1;
    font-size: 24px;
    font-weight: bold;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}

label {
    font-weight: bold;
    color: #0d47a1;
}

input, select {
    padding: 10px 12px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 16px;
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0;
}

.options label {
    font-size: 15px;
    color: #333;
}

.search-btn {
    width: 100%;
    padding: 14px;
    background: #ff8f00;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.search-btn:hover {
    background: #ff6f00;
}